<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Pokedex</title>
</head>
<body>
    <header>
        <a href= "/"><h1>Pokedex</h1></a>
        <a href="/cadastro">Cadastre</a>
        <a href="/Pokedex">Pokemons cadastrados</a>
    </header>
    <section class="corpo">
    <section class="pokemonsIniciais">
        <div class="borda">
            <div class="principal">
                <img src=<%=poke.imagem%> >
                <p>Número: <%=poke.numero%></p>
                <p>Nome: <%=poke.nome%></p>
                <p>Tipo: <%=poke.tipo%></p>
                <p>Descrição: <%=poke.descricao%></p>
                <p>Altura: <%=poke.altura%>m</p>
                <p>Peso: <%=poke.peso%>kg</p>
                <p>Categoria: <%=poke.categoria%></p>
                <p>Habilidade: <%=poke.habilidade%></p>
            </div>
        </div>
    </section>
</section>
    <footer>Projeto por: Karen Lourenço</footer>
    <script src="/js/script.js"></script>
</body>
</html>